.navbar-custom {
  background-color: #2774AE;
}

.navbar-brand {
  color: #FFD100;
}

.navbar-nav a {
  color: white;
}

.firstPage {
  display: none;
}

.secondPage {
  display: none;
}

.footer {
  display: none;
}

.table th {
  text-align: center;
}

.stupid {
  color: white;
}