.navbar-custom {
  background-color: #2774AE;
}

.navbar-brand {
  color: #FFD100;
}

.navbar-nav a {
  color: white;
}

.firstPage {
  display: none;
}

.thirdPage {
  display: none;
}

.fourthPage{
  display: none;
}

.footer {
  display: none;
}

.table th {
  text-align: center;
}

.stupid {
  color: white;
}


/*FIRST PAGE CSS*/
h1 {
  font-size: 200pt;
}

/* This is the code for the dropdown menu for majors on the first page.
 */
 .dropbtn {
  padding: 16px;
  font-size: 14px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/* SIDE NAV */
@media screen and (max-height: 450px) {
  .sidenav2 {padding-top: 15px;}
  .sidenav2 a {font-size: 18px;}
}

.sidenav2 {
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 10px;
  background: #005587;
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 5px;
}

.sidenav2 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #8BB8E8;
  display: block;
}

.sidenav2 a:hover {
  color: #003B5C;
}

.dropbtn2 {
  background-color: #005587;
  color: #8BB8E8;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  border: none;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #005587;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown2-content a {
  color: black;
  background-color: #778899;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown2-content a:hover {
  color: #003B5C;
  background-color: #FFB81C;
}

.dropdown2:hover .dropdown2-content {display: block;}
